*{
    box-sizing: border-box;
}

body {
    padding:5px;
    background-image: url("../images/just-waves.png");
}


.title{
    background-color: aquamarine;
    color: blue;
    font-size: 32px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width:400px;
    margin-bottom: 5px;
}
.instructions {
    height:350px;
    width: 400px;
    background-color: aqua;
    font-size: 18px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.holder {
    position: relative;
    height:110px;
    width:310px;
    padding:3px;
}
.randomnumber {
    height: 100px;
    width: 150px;
    background-color: cadetblue;
    color: black;
    font-size: 32px;
    position: absolute;
}

.scoreboard {
    font-size: 20px;
    font-weight: 650;
    height: 100px;
    width: 150px;
    color: black;
    background-color: aquamarine;
    position: absolute;
    right:0px;
}
.windiv{
    font-size:32px;
    background-color: gold;
    color:green;
    width: 300px;
}

.crystalholder {
    height:70px;
    width:300px;
    position: relative;
}
.crystal {
    height:60px;
    width:60px;
    margin: 5px;
    background-color: white;
    float:left;
}

.totalscore{
    background-color:cadetblue;
    color:blue;
    font-size: 20px;
    width: 300px;
}

.score {
    background-color: aquamarine;
    color: blue;
    font-size: 72px;
    height:100px;
    width:300px;
    margin-top: 5px;
    text-align: center;
}